


<body style="background-color: #4C98CF">
    <h1>Please Enter License Plate Number</h1>
    @*<form asp-action="Add" method="post">
        <div>
            <label asp-for="@Model.Topic" class="form-label-add-edit">Seminar Topic</label>
            <input asp-for="@Model.Topic" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.Topic" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Announce" />
        </div>
    </form>*@
</body>