<body class="text-center"style="background-color: #4C98CF">
    <h1 style="color: #CCE5EA">404</h1>
    <p #CCE5EA>It Seems Like You Cannot Find The Item Here</p>
    <p #CCE5EA>Please Check Again</p>
</body>