<body class="text-center" style="background-color: #4C98CF">
    <h1 style="color: #CCE5EA">500</h1>
    <p #CCE5EA>Unexpected Error Occured</p>
    <p #CCE5EA>Please Contact Administrator</p>
</body>