@model PostFormModel

<body style="background-color: #4C98CF">
    <div class="row d-flex align-items-center justify-content-center">
        <form asp-action="PublishPost" method="post" style="width: 600px">
            <h2 class="text-center" style="color: #CCE5EA">Create Post</h2>
            <br />
            <div>
                <div class="mb-3">
                    <textarea asp-for="@Model.PostBody" class="form-control" style="background-color: #CCE5EA; resize: none" cols="60" rows="5" aria-required="true" placeholder="Enter Post Text"></textarea>
                    <span asp-validation-for="@Model.PostBody" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <input class="btn btn-success p-3 fw-bold rounded-pill" style="width: 580px; background-color: #3BBD6E; border: none; box-shadow: none" type="submit" value="Publish Post" />
            </div>
        </form>
    </div>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}