@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@using static SmartParkInnovate.Infrastructure.Data.Constants.RoleConstants;

@inject SignInManager<Worker> SignInManager
@inject UserManager<Worker> UserManager

@{
    string userName = string.Empty;

    if (SignInManager.IsSignedIn(User))
    {
        Worker user = await UserManager.FindByIdAsync(User.Id());
        userName = User.FindFirstValue(SmartParkInnovate.Infrastructure.Extensions.CustomClaims.UserFirstNameClaim) ?? string.Empty;
    }
}


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <p class="nav-link text-light" style="color: #CCE5EA">Hello, @userName!</p>
        </li>
        @if (User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Home" asp-action="Dashboard" class="nav-link btn btn-link text-light"
                   style="color: #CCE5EA;">Admin Panel</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light" style="color: #CB4040 !important">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" style="color:#CCE5EA" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" style="color:#CCE5EA" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>