@model IEnumerable<VehicleViewModel>

<body style="background-color: #4C98CF">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3" style="color: #CCE5EA">Vehicles</h1>
            <br />
            <a asp-controller="Vehicle" asp-action="AddVehicle" class="btn btn-success p-3 fw-bold rounded-pill" style="width: 130px; background-color: #3BBD6E; border: none; box-shadow: none">Add Vehicle</a>
            <br />
            <div>
                <br />
                <table class="table table-borderless" style="border: none; box-shadow: none; color: #CCE5EA">
                    <thead>
                        <tr class="font-weight-bold">
                            <th scope="col">Vehicle Make</th>
                            <th scope="col">Vehicle Model</th>
                            <th scope="col">License Plate</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var vehicle in @Model)
                            {
                                <tr>
                                    <td>@vehicle.Make</td>
                                    <td>@vehicle.Model</td>
                                    <td>@vehicle.LicensePlate</td>
                                    <td>
                                        <a asp-controller="Vehicle" asp-action="Details" asp-route-id="@vehicle.Id" class="btn btn-success p-3 fw-bold rounded-pill d-flex justify-content-center align-items-center"
                                           style="width: 130px; height: 1px; background-color: #3BBD6E; border: none; box-shadow: none; line-height: normal; padding: 0;">Details</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            @if (Model.Count() <= 0)
            {
                <p class="lead" style="color: #CCE5EA">There Are No Available Vehicles</p>
            }
        </div>
    </div>
</body>